
  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border: 2px solid #333;
    padding: 10px;
  }

  


  .flex-item {
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    border: 1px solid blue;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.3); /*alpha/0.3 value represents opacity, useful for shadows*/
  }

  .warp {
    flex-wrap: wrap;
  }